* {
    
}
section {
    margin-bottom: 20px;
}
a {
    color: 2a2a2a;
}

img {
    object-fit: cover;
}

nav {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 200px 1fr;
}
.logo {
    height: 100px;
    margin: 15px 50px;
    
}

.logoimg {
    width: 100%;
}

li {
    list-style-type:none;
}

a:hover {
    text-decoration: none;
}

.menu {
    margin: 30px;
}

.menuul {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    margin: 20px auto;
    color: 2a2a2a;
}

.menuitem {
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px;
    padding: 15px;
    border-bottom: 2px #2a2a2a solid;

}

.sliderimg {
    height: 500px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}


.cards {
    margin: 20px;
    width: 33%;
    text-align: center;
    }

@media screen and (max-width:780px) {
    .cardphone{
        display: flex;
        flex-direction: column;
    }
    .cards {
        width: 100%;
        margin: 10px 1px;
        float: none;
        display: flex;
        flex-direction: column;
    }
    
 }

.center{
    text-align: center;
    margin: auto;
}


.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
} 

.headpic {
width: 100%;    
}

.headpic > img {
    width: 100%;
}

.sidebar {
    margin: 20px 0 10px 10px;
}

@media (max-width:700px) {
    .main {
        grid-template-columns: 1fr;
    }
    .sidebar {
        display: none;
    }
}
.category {
    text-align: center;
    vertical-align:middle;
    justify-content: center;
    padding: 1px;
    padding-top: 4px;
    margin: 5px;
    border-top: 1px #cccccc solid;
    border-bottom: 1px #cccccc solid;
}

article {
    
}
.inputname {
    margin-right: 5px;
    margin-bottom: 10px;
}
.inputmail {
    margin-bottom: 10px;
}

.inputtext {
    margin-bottom: 10px;
}

.picture {
    width: 90%;
    margin: 10px auto;
}
.picture > img {
    width: 100%;
}

.titlebar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tags {
    display: flex;
    vertical-align: middle;
    
}
.tagicon {
    margin: 2px;
    color: #343a40;
}

.simillarpost {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 10px;
}

.leftpost {
    width: 60%;
    border-right: 1px solid #cccccc;
    text-align: center;
    margin: auto;
}
.rightpost {
    width: 60%;
    text-align: center;
    margin: auto;
}

.minipic {
    width: 70%;
    object-fit: cover;
    
}
/*******footer**********/

footer {
    background-color: #cccccc;
    text-align: center;
    padding: 40px;
}

footer a {
    color: #DE831B;
}




/*******KONTAKT**********/  
.kontakt {
    margin-right: 20px;
}
.input {
    border-radius: 10px;
    border: 1.5px solid #F9D401;
    padding: 2px;
}

@media screen and (max-width: 680px) {
    .rowphone {
        grid-template-columns: 1fr;
    }
}


/*********RWD menu **********/
@media screen and (max-width:680px) {
    .menu {
        display: none;
    }
}


/*******feed********/
.bigpadding{
    padding-top: 200px;
    background-size: cover;
    margin: 30px;
}

.feedshadow {
    background-color: rgba(99,98,95,0.8);
    max-width: 100%;
    margin: 0;
    padding: 20px;
    color: white;
    border-radius: 0.3rem;
}


/*******AboutMe********/

.aboutme {
    display: flex;
    flex-direction: row;
    
}

.aboutpic {
    width: 400px;
    height: 400px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.selfie {
    max-width: 300px;
    max-height: 300px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}